@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
.ff-lato{
    font-family: 'Lato',sans-serif;
}
body{
       font-family: 'El Messiri',sans-serif;
   
}
 .sec3-bg {
     background-image: url(assets/images/png/sec3-bg.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     max-width: 1210px;
     min-height: 465px;
     border-radius: 22px;
 }

 .clearpath-card:hover {
     background: #1B3353;
 }

 .clearpath-card:hover .card-text {
     color: white !important;
 }

 .clearpath-card:hover .card {
     background-color: white !important;
 }

 .clearpath-card:hover .card svg path {
     fill: #1b3353 !important;
 }